a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: black;
  position:fixed;
  top: 0;
  z-index: 10;
}


.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: black;
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

li {
  list-style: none;
  float: right;
  color: white;
  padding-top:33px;
  padding-bottom:33px;
  padding-left:20px;
  padding-right:20px;
