.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  font-family: "Lucida Grande";
  width: 100%;
  background-color: black;
  position:fixed;
  top: 0;
  z-index: 10;
}


.header-left {
  float: left;
  color: white;
  font-size: 54px;
}

.header-right {
  background-color: black;
  transition: all 0.5s;
  float: right;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  float: right;
  padding: 0 30px;
  color: white;
}
